@charset "UTF-8";
/*********************************************************************
*
* 	Author: @douglasdeodato
* 	Site: lovelycss.com
* 	Date : 07/07/2015
* 	version: 0.1
*********************************************************************/
/*********************************************************************
*
* 	Author: @douglasdeodato
* 	Site: lovelycss.com
* 	Date : 07/07/2015
* 	version: 0.1  
*********************************************************************/
/*********************************************************************
* 	=Colors 
*
* 	Author: @douglasdeodato
* 	Site: lovelycss.com
* 	Date : 07/07/2015
* 	version: 0.1  
*********************************************************************/
/*********************************************************************
*  =legend    
*********************************************************************/
/*********************************************************************
* 	=Mixins 
*
* 	Author: @douglasdeodato
* 	Site: lovelycss.com
* 	Date : 07/07/2015
* 	version: 0.1  
*********************************************************************/
/*********************************************************************
* 	=Bootstrap 
*
* 	Author: @douglasdeodato
* 	Site: lovelycss.com
* 	Date : 07/07/2015
* 	version: 0.1  
*********************************************************************/
/*********************************************************************
*  =Helpers
*********************************************************************/
/* Clearfix semântico */
@import url(../../fonts/stylesheet.css);
/* line 6, ../../scss/helpers/_clearfix.scss */
.group {
  zoom: 1;
}

/* line 7, ../../scss/helpers/_clearfix.scss */
.group:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

/*********************************************************************
* 	=Base 
*
* 	Author: @douglasdeodato
* 	Site: lovelycss.com
* 	Date : 07/07/2015
* 	version: 0.1  
*********************************************************************/
/* line 17, ../../scss/core/_base.scss */
html,
body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  color: #565a5c;
  font: normal normal 100%/1.5em "enriqueta";
}

/* line 27, ../../scss/core/_base.scss */
p {
  font-size: 0.75em;
}
/* line 28, ../../scss/core/_base.scss */
p a {
  text-decoration: none;
}

/* line 33, ../../scss/core/_base.scss */
ul {
  list-style-type: none;
}

/* line 35, ../../scss/core/_base.scss */
h4 {
  text-transform: uppercase;
  color: #fff;
  font-size: 0.875em;
  font-weight: bold;
}

/*********************************************************************
*  =fonts
*********************************************************************/
/*********************************************************************
* 	Media Query » screen equal or less than 1024px 
*
* 	Author: @douglasdeodato
* 	Site: lovelycss.com
* 	Date : 07/07/2015
* 	version: 0.1  
*********************************************************************/
/*********************************************************************
*
* 	Author: @douglasdeodato
* 	Site: lovelycss.com
* 	Date : 07/07/2015
* 	version: 0.1  
*********************************************************************/
/*********************************************************************
* 	=Banner 
*
* 	Author: @douglasdeodato
* 	Site: lovelycss.com
* 	Date : 07/07/2015
* 	version: 0.1  
*********************************************************************/
/*********************************************************************
* 	=Content 
*
* 	Author: @douglasdeodato
* 	Site: lovelycss.com
* 	Date : 07/07/2015
* 	version: 0.1  
*********************************************************************/
/*********************************************************************
* 	=Footer 
*
* 	Author: @douglasdeodato
* 	Site: lovelycss.com
* 	Date : 07/07/2015
* 	version: 0.1  
*********************************************************************/
/*********************************************************************
* 	=Header 
*
* 	Author: @douglasdeodato
* 	Site: lovelycss.com
* 	Date : 07/07/2015
* 	version: 0.1  
*********************************************************************/
/*********************************************************************
* 	=Menu 
*
* 	Author: @douglasdeodato
* 	Site: lovelycss.com
* 	Date : 07/07/2015
* 	version: 0.1  
*********************************************************************/

/*# sourceMappingURL=myapp.development.css.map */
